@import "tailwindcss";
@import "tw-animate-css";

/* index.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Needed for 3D flip effect */
.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.perspective-\[1200px\] {
  perspective: 1200px;
}

